$white : #fff;
$alto : #d7d7d7;
$alto-solid :#dbdbdb;
$mercury: #e7e7e7;
$seashell: #f1f1f1;
$tundora: #424242;

$gray : #808080;
$bondi-blue: #0097A7;
$pacific-blue: #00ACC1;
$red: #ff0000;
$geraldine: #fc8e8e;
$egg-blue: #00bcd4;
$anakiwa: #a2ddff;