.btn {
	background: #63bf27 none repeat scroll 0 0;
	border-radius: 6px;
	color: #ffffff;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin: 0 auto;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	/*width: 18%;*/
	width: 220px;
	position: relative;

	-webkit-box-shadow: 1px 0px 3px 10px rgba(0,0,0,0.29);
	-moz-box-shadow: 1px 0px 3px 10px rgba(0,0,0,0.29);
	box-shadow: 1px 0px 3px 10px rgba(0,0,0,0.29);
	transition: all 0.4s ease-in-out; 
}
.btn:hover {
	background: #669F37 none repeat scroll 0 0;
}
.skinCTA {
	background: #a04f4feb;
	padding: 20px;
	border-radius: 5px;
	display: block;
	font-weight: bold;
}
.skinCTA:hover {
	background: #a04f4f;
}