.dropdownbox {
    position: relative;
    padding: 0px;
    
    label {
      font-size: 14px;
      font-weight: 600;
    }
    .dropdownselect {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid $seashell;
      border-radius: 5px;
      text-align: center;
      text-align: left;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      position: relative;
  
      &:after {
        content: "\02C7";
        position: absolute;
        right: 5%;
        color: $alto;
        font-size: 55px;
        height: auto;
        top: 0px;
      }
  
      &.open {
        &:after {
          content: "\02C6";
          position: absolute;
          right: 5%;
          color: $alto;
          font-size: 55px;
          // font-size: 32px;
          height: auto;
          // top: 4px;
          top: 0px;
  
        }
      }
    }
    .dropdownlist {
      position: absolute;
      text-align: left;
      padding: 0px;
      margin: 0px 0px;
      z-index: 2;
      width: 100%;
      box-sizing: border-box;
      left: 0px;
      max-height: 300px;
      overflow: auto;
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        border: 1px solid $seashell;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        background-color: $white;
        li {
          width: auto;
          margin: 2px;
          padding: 5px 17px;
          font-size: 15px;
          line-height: 20px;
          cursor: pointer;
        }
  
      }
    }
  }
  