@font-face {
    font-family: "bupa";
    src: url("../font/Montserrat-Regular.ttf");
    src: url("../font/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "bupa";
    src: url("../font/Montserrat-SemiBold.ttf");
    src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: "bupa", Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    color: #333;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 81px;
}
h2 {
    color: #000;
}
h2.accordion {
    font-size: 32px;
    line-height: 43.2px;
}
h2, h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 33.75px;
}
.marginLeft15By2 {
    margin-left: 7.5px;
}
.marginRight15By2 {
    margin-right: 7.5px;
}
.marginTop15 {
    margin-top: 15px;
}
.marginTo25 {
    margin-top: 25px;
}
.text-center {
    text-align: center;
}
#bupa-wrapper {
    width: 100%;
}
.vessel {
    max-width: 1140px;
    padding: 30px 30px 25px;
    margin: 0 auto;
}
.vessel .termsCondition {
    padding-bottom: 55px;
}
header .vessel {
    padding-top: 40px;
}
footer.layer6 {
    background-color: #03355b;
    line-height: 0;
}
footer.layer6 .vessel {
    padding-top: 28px;
    padding-bottom: 27px;
}
header .vessel, footer .vessel {
    line-height: 0;
}
.layer2 p {
    color: #000;
}
.lightBlue .innerContactBlock {
    background-color: #e5f2f9;
}
.lightGrey .innerContactBlock {
    background-color: #f0f0f0;
}
.lightBlue, .lightGrey {
    margin-top: 30px;
    display: flex;
    width: 100%;
}
.lightBlue .blockTwo, .lightGrey .blockTwo {
    width: 570px;
}
.lightBlue .blockThree, .lightGrey .blockThree {
    width: 380px;
}
.lightBlue .contactBlock, .lightGrey .contactBlock {
    display: flex;
}
.lightBlue .contactBlock .innerContactBlock, .lightGrey .contactBlock .innerContactBlock {
    flex: 1 100%;
    padding: 30px;
}
.lightBlue .contactBlock .innerContactBlock h3, .lightGrey .contactBlock .innerContactBlock h3 {
    color: #00335b;
    margin-bottom: 15px;
}
.lightBlue .contactBlock .innerContactBlock .contactDetails, .lightGrey .contactBlock .innerContactBlock .contactDetails {
    margin-bottom: 15px;
}
.lightBlue .contactBlock .innerContactBlock .contactDetails strong, .lightGrey .contactBlock .innerContactBlock .contactDetails strong {
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
}
.lightBlue {
    flex-flow: row wrap;
}
.lightGrey {
    flex-flow: row;
}
.termsCondition {
    font-size: 16px;
    line-height: 21.6px;
    color: #000;
}
/* Media queries */
@media only screen and (min-width: 767px) and (max-width: 1240px) {
    .vessel {
        width: 90%;
   }
    .lightBlue .blockTwo {
        width: 50%;
   }
    .lightBlue .blockThree {
        width: 33.33%;
   }
}
/* Default Mobile device */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 39.01px;
   }
    h2, h2.accordion {
        font-size: 20px;
        line-height: 27px;
        color: #00335b;
   }
    h3 {
        font-size: 20px;
        line-height: 27px;
   }
    .bupaLogo {
        width: 52px;
        height: 52px;
   }
    .vessel {
        padding: 30px 20px 0;
   }
    header .vessel {
        padding-top: 30px;
   }
    .lightBlue, .lightGrey {
        margin-top: 15px;
   }
    .lightGrey {
        flex-flow: row wrap;
   }
    .layer2 .vessel {
        padding-top: 34px;
        padding-left: 30px;
        padding-right: 30px;
   }
    .layer2 .vessel h2 {
        color: #333;
        margin-top: 15px;
   }
    .layer2 p.mobmarTo15 {
        margin-top: 16px;
   }
    .layer3 .vessel {
        padding: 40px 20px 0;
   }
    .layer3 .contactBlock:last-child .innerContactBlock {
        margin-bottom: 30px;
   }
    .layer3 .blockTwo, .layer3 .blockThree, .layer4 .blockThree {
        width: 100%;
   }
    .layer3 .blockTwo .innerContactBlock, .layer3 .blockThree .innerContactBlock, .layer4 .blockThree .innerContactBlock {
        padding: 20px;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        min-height: auto;
   }
    .layer4 .vessel {
        padding-top: 0;
   }
    .contactBlock:last-child .innerContactBlock {
        margin-bottom: 0;
   }
    .vessel .termsCondition {
        padding-bottom: 30px;
        font-size: 11px;
        line-height: 14.85px;
   }
    footer.layer6 .vessel {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
   }
    .accordion {
        display: table;
        width: 100%;
        cursor: pointer;
   }
    .accordion span {
        display: table-cell;
        vertical-align: middle;
        width: 97%;
   }
    .accordion .arrow p {
        background: url("../images/arrow_down.svg") no-repeat;
        width: 16px;
        height: 8.61px;
        -webkit-transition: 0.25s ease;
        -moz-transition: 0.25s ease;
        -ms-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        transition: 0.25s ease;
   }
    .active .arrow p {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
   }
    .accordionPanel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.2s ease-out;
        -moz-transition: max-height 0.2s ease-out;
        -o-transition: max-height 0.2s ease-out;
        -ms-transition: max-height 0.2s ease-out;
        transition: max-height 0.2s ease-out;
   }
}
@media only screen and (max-width: 760px) {
    .accordion span {
        width: 93%;
        padding-left: 1.4%;
   }
}
@media only screen and (max-width: 480px) {
    .accordion span {
        width: 88%;
        padding-left: 3%;
   }
}
